<div id='profile-page'>

  {{#if userInSession}}

    <form action='/userProfile' method='post' enctype='multipart/form-data'>
      <h2 id='welcome-user' class='merri'>Welcome, {{userInSession.username}}!</h2>
      <label class='mont' for='imgUrl'>
        Upload Profile Picture

      </label>
      <img class='img-fluid' src='{{userInSession.imgProfile}}' alt='' />
      <input id='imgUrl' type='file' name='profileUrl' />
      <h3 class='merri'>About me</h3>

      <div class='mont' id='place-holder'>
        {{! heere goes the texttareadescription }}
        {{userInSession.description}}
      </div>

      <textarea class='mont' name='description' id='' cols='30' rows='10'>{{userInSession.description}}</textarea>

      <button class='profile-upload-btn main-submit-btn mont'>Confirm details</button>
    </form>

    <h3 class='merri mt-5 mb-5' id=''>Your uploaded gems:</h3>
    <div class='profile-upload text-center' id='up-gems'>
      {{#each gems}}
        <div class='text-center profile-upload-info'>
          <img class='profile-gem-img' src='{{imgUrl}}' alt='local gem' />
          <h3 class='mt-3'>{{venueName}}</h3>
          <h3 class='gem-description merri'>"{{description}}"</h3>
          <form action='/gems/{{this._id}}/delete' method='POST'>
            <button class='submit-btn mont main-submit-btn fs-6 p-2'>Delete Gem</button>
          </form>
        </div>
      {{/each}}
    </div>

  {{else}}
    <p class='mont'>Still no logged in user, sorry!</p>
  {{/if}}
</div>