<h1>welcome to LocalGems</h1>

{{#if userInSession}}

  <h1>Welcome, {{userInSession.username}}!</h1>

  <form  action="/userProfile" method="post"  enctype="multipart/form-data">
  <label for='imgUrl'>
    Upload Profile Pic
    <input type='file' name='profileUrl' />
  </label>

    <button>confirm NEW details</button>
  </form>
  
  <h3>Username</h3>

  {{userInSession.username}}

  <h3>About me</h3>
  <textarea name='' id='' cols='30' rows='10'></textarea>
  
  <button>confirm details</button>
  <div>
    {{#each gems}}
      <img class='gem-img' src='{{imgUrl}}' alt='local gem' />

      <h3 class='gem-description'>"{{description}}"</h3>
    {{/each}}
  </div>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}