<h1>welcome to LocalGems</h1>

{{#if userInSession}}

  <h1>Welcome, {{userInSession.username}}!</h1>
  <label for='imgUrl'>
    Upload Profile Pic
    <input type='file' name='profileUrl' accept='image/png, image/jpeg' />
  </label>
  <h3>Username</h3>

  {{userInSession.username}}

  <h3>About me</h3>
  <textarea name='' id='' cols='30' rows='10'></textarea>
  <h3>Change password</h3>
  {{! Place golder to edit your pass should go here }}
  <h3>Change Email</h3>
  {{! Place golder to edit your Email should go here }}
  <button>confirm details</button>
  <div>
    {{#each gems}}
      <img class='gem-img' src='{{imgUrl}}' alt='local gem' />

      <h3 class='gem-description'>"{{description}}"</h3>
    {{/each}}
  </div>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}